    .input-custom:focus{
    transition: ease-in 0.5s;    
    border:none;
    border-bottom: 2.2px solid var(--main);
    border-radius: 0;
    box-shadow: none;
}
    .input-custom-dark:focus{
    transition: ease-in 0.5s;    
    border:none;
    border-bottom: 2.2px solid var(--main);
    border-radius: 0;
    box-shadow: none;
}

.input-custom-dark{
    background-color: var(--bgdark);
    color: white;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white;
}

.input-custom{
    border:none;
    border-bottom: 2px solid var(--dark);
    border-radius: 0;
}

.input-custom-dark:focus{
    background-color: var(--bgdark);
    color: white;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--main);
    box-shadow: none;
    
}

.custom-text label{
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.custom-text{
    width: 60%;
    margin:auto;     
}

.textWhite{
    color: white;
}

@media only screen and (max-width: 600px){
    .custom-text{
        width: 100%;
        margin:auto;     
    } 
}