.input-custom:focus{
    border:2px solid var(--main);
    box-shadow: none;
}

.input-custom-dark{
    background-color: var(--dark);
    color: white;
    border: none;
}
.input-custom-dark:focus{
    background-color: var(--dark);
    color: white;
    border:2px solid var(--main);
    box-shadow: none;
}
