.textarea-custom:focus{
    border:2px solid var(--main);
    box-shadow: none;
}
.textarea-custom-dark:focus{
    border:2px solid var(--main);
    box-shadow: none;
    background-color: var(--dark);
    color: white;
}
.textarea-custom-dark{
    background-color: var(--dark);
    color: white;
    border: none;
}