.home{
    font-family: 'Red Hat Display', sans-serif !important;
}

.bg{  
  background-image: url(./thepc-one-02-01.png);
  width: 100vw;
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-scroll{
    background-color: var(--main);
}

.custom-control{
    border: none;
    border-radius: 0;
    box-shadow: none !important;
}

.custom-controlOne{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.custom-controlTwo{
    margin-bottom: 8px !important;
}

.custom-controlThree{
    border-bottom-left-radius:5px !important;
    border-bottom-right-radius:5px !important;
}

.borderRadius{
    border-radius: 5px!important;
}

.googleText{
    font-size: large;
    color: #07221B;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}



.navAfter_myEventButton{
    font-weight:800 !important;
    border-radius:5px !important;
    width: 9rem;
    height: 3rem;
    padding-top: 1.7vh;
    margin-right: 1.5vw !important;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.navAfter_myEventButtonColor{
    color:var(--main) !important;
    border-color:var(--main) !important;
}


.navAfter_logoutButton{
    font-weight:800 !important;
    border-radius:5px !important;
    border:0;
    width: 9rem;
    height: 3rem;
    padding-top: 1.7vh;
    margin-right: 2.8vw !important;
    background-color:var(--main) !important;
}

.logoutColor{
    color: white;
}

.customIcon{
    font-size: small;
}

.navAfter_logoutButtonColor{
    color:var(--main) !important;
    border-color:var(--main) !important;
}

.home-text{
    margin-left: 6%;
    margin-top: 10%;
}

/* Welcome Text */
.welcomeText{
    font-size:3.2rem !important;
    line-height:90px;
    color:#2C2C2C;
}

/* Thepc Text */
.thepcText{
    font-weight:bold;   
    font-size:6.8rem;
    line-height:90px;
    margin-bottom:10px ;
    color:#07221B;
}

/* one text */
.oneText{
    font-weight:bold;   
    font-size:6.8rem;
    line-height:100px;
    margin-bottom:10px ;
    /* color:var(--main); */
    color:#07221B;
    
}


.colorBox{
    width: 597px;
    height: 37px;
    display: inline-block;
    background-color: var(--main);
    margin-top: 8px;
}

/* Description Text */
.descriptionText{
    font-size:3.2rem;
    line-height:64px;
    margin-top: 10px;
}


/* arrowIcon */
.arrowIcon{
    width:74px !important;
    font-size:55px;
    margin: 12% auto -1rem;
    color:var(--main);
    
}

/* sidebar login */
.sidebar_loginActive{
    position:fixed;
    left:1200;
    width:400px;
    top:0px;
    background-color:#32dfb0;
    height:100vh;
    right: 0;
    transition: 350ms;
    z-index: 2;
}

.sidebar_loginNotActive{
    position:fixed;
    left:1200;
    width:400px;
    top:0px;
    background-color:var(--main);
    height:100vh;
    right:-100% !important;
    transition: 850ms;
}

.sidebar_loginText{
    position:relative;
    text-align: center;
    margin-top: 5rem;
    font-size:30px;
    font-weight: 500;
}

/* sidebar signup */

.sidebar_signupActive{
    position:fixed;
    left:1200;
    width:400px;
    top:0px;
    background-color:var(--main);
    height:100vh;
    right: 0;
    transition: 350ms;
    z-index: 2;
}

.sidebar_signupNotActive{
    position:fixed;
    left:1200;
    width:400px;
    top:0px;
    background-color:var(--main);
    height:100vh;
    right:-100% !important;
    transition: 850ms;
}

.sidebar_signupText{
    position:relative;
    text-align: center;
    margin-top: 5rem;
    font-size:30px;
    font-weight: 500;
}

/* crossIcon */
.crossIcon{
    position:relative;
    font-size:45px;
    margin:1rem 0 0 1rem;
    cursor:pointer;
}

/* sidebar form */

.sidebar_form{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:var(--main); 
}

.login-button{
    background-color: #2C2C2C;
    color: var(--main);
    border: none;
}

.login-button:active{
    background-color: #07221B!important;
    color: white;
}

.login-button:hover{
    background-color: #07221B!important;
    color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 1rem auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sidebar_formDescription{
    position:relative;
    left:93px;
}

/* home sign in with google */
.home_google{
    position:relative;
    margin: 2rem auto;
    text-align: center;
    cursor:pointer;
    height:auto !important;
}

.orText{
    position:relative;
    font-size:20px;
    left:140px;
    top:30px;
}

.customAlert{
    z-index: 1;
    height: auto;
    width: auto;
}

.alertText{
    font-size: 1.4rem;
    object-fit: contain!important;
}

.crossButton{
    font-size: 2rem;
}


@media  screen and (min-width: 320px) and (max-width: 375px) {
    .bg{  
        background-image: url(./thepc-one-03-01.png);
      }
      .home-text{
        margin: 3rem 0 1rem;
        text-align: center;
    }
    
    /* Welcome Text */
    .welcomeText{
        font-size:2rem !important;
        line-height:70px;
    }
    
    /* Thepc Text */
    .thepcText{  
        font-size:4rem;
        line-height:45px;
        margin-bottom:10px ;
    }
    
    /* one text */
    .oneText{   
        font-size:4rem;
        line-height:65px;
        margin-bottom:10px ;
        
    }
    
    
    .colorBox{
        width: 200px;
        height: 20px;
        margin-top: 8px;
    }
    
    /* Description Text */
    .descriptionText{
        font-size:1.5rem;
        line-height:30px;
        margin-top: 8px;
    }
    .sidebar_loginText{
        margin-top: 2rem;
    }
    .sidebar_signupText{
        margin-top: 2rem;
    }

    .sidebar_loginNotActive{
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }

    .sidebar_signupNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }
    .sidebar_loginActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:#32dfb0;
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .sidebar_signupActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .navAfter_myEventButton{
        border: 0;
        font-size: small;
    }
    .navAfter_logoutButton{
        font-size: small;
        background-color: white!important;
    }
    .logoutColor{
        color: var(--main);
    }
    .customIcon{
        margin-right: 1vw;
    }
}


@media only screen and (min-width: 375px)and (max-width: 400px){
    .bg{  
        background-image: url(./thepc-one-03-01.png);
        width: 100vw;
        height:100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .home-text{
        margin: 5rem 0 12rem;
        text-align: center;
    }
    
    /* Welcome Text */
    .welcomeText{
        font-size:2.2rem !important;
        line-height:70px;
        color:#2C2C2C;
    }
    
    /* Thepc Text */
    .thepcText{
        font-weight:bold;   
        font-size:4.5rem;
        line-height:60px;
        margin-bottom:10px ;
        color:#2C2C2C;
    }
    
    /* one text */
    .oneText{
        font-weight:bold;   
        font-size:4.5rem;
        line-height:65px;
        margin-bottom:10px ;
        color:var(--main);
        
    }
    
    
    .colorBox{
        width: 200px;
        height: 30px;
        display: inline-block;
        background-color:var(--main);
        margin-top: 8px;
    }
    
    /* Description Text */
    .descriptionText{
        font-size:1.8rem;
        line-height:64px;
        margin-top: 10px;
    }
    .sidebar_loginText{
        margin-top: 3rem;
    }
    .sidebar_signupText{
        margin-top: 3rem;
    }

    .sidebar_loginNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }

    .sidebar_signupNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }
    .sidebar_loginActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:#32dfb0;
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .sidebar_signupActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .navAfter_leftText{
        font-size: larger;
    }
    .navAfter_myEventButton{
        border: 0;
        font-size: small;
    }
    .navAfter_logoutButton{
        font-size: small;
        background-color: white!important;
    }
    .logoutColor{
        color: var(--main);
    }
    .customIcon{
        margin-right: 8vw;
    }
}

@media only screen and (min-width: 400px)and (max-width: 425px){
    .bg{  
        background-image: url(./thepc-one-03-01.png);
        width: 100vw;
        height:100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .home-text{
        margin: 4rem 0 12rem;
        text-align: center;
    }
    
    /* Welcome Text */
    .welcomeText{
        font-size:2.2rem !important;
        line-height:70px;
        color:#2C2C2C;
    }
    
    /* Thepc Text */
    .thepcText{
        font-weight:bold;   
        font-size:4.5rem;
        line-height:60px;
        margin-bottom:10px ;
        color:#2C2C2C;
    }
    
    /* one text */
    .oneText{
        font-weight:bold;   
        font-size:4.5rem;
        line-height:65px;
        margin-bottom:10px ;
        color:var(--main);
        
    }
    
    
    .colorBox{
        width: 200px;
        height: 30px;
        display: inline-block;
        background-color:var(--main);
        margin-top: 8px;
    }
    
    /* Description Text */
    .descriptionText{
        font-size:1.8rem;
        line-height:64px;
        margin-top: 10px;
    }
    .sidebar_loginText{
        margin-top: 3rem;
    }
    .sidebar_signupText{
        margin-top: 3rem;
    }

    .sidebar_loginNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }

    .sidebar_signupNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }
    .sidebar_loginActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:#32dfb0;
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .sidebar_signupActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .navAfter_leftText{
        font-size: larger;
    }
    .navAfter_myEventButton{
        border: 0;
        font-size: small;
    }
    .navAfter_logoutButton{
        font-size: small;
        background-color: white!important;
    }
    .logoutColor{
        color: #43D8C9;
    }
    .customIcon{
        margin-right: 14vw;
    }
}

@media only screen and (min-width: 425px) and (max-width: 450px){
    .bg{  
        background-image: url(./thepc-one-03-01.png);
        width: 100vw;
        height:100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .home-text{
        margin: 4rem 0 12rem;
        text-align: center;
    }
    
    /* Welcome Text */
    .welcomeText{
        font-size:2.2rem !important;
        line-height:70px;
        color:#2C2C2C;
    }
    
    /* Thepc Text */
    .thepcText{
        font-weight:bold;   
        font-size:4.5rem;
        line-height:60px;
        margin-bottom:10px ;
        color:#2C2C2C;
    }
    
    /* one text */
    .oneText{
        font-weight:bold;   
        font-size:4.5rem;
        line-height:65px;
        margin-bottom:10px ;
        color:var(--main);
        
    }
    
    
    .colorBox{
        width: 200px;
        height: 30px;
        display: inline-block;
        background-color:var(--main);
        margin-top: 8px;
    }
    
    /* Description Text */
    .descriptionText{
        font-size:1.8rem;
        line-height:64px;
        margin-top: 10px;
    }

    .sidebar_loginNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }

    .sidebar_signupNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }
    .sidebar_loginActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:#32dfb0;
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .sidebar_signupActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .navAfter_leftText{
        font-size: larger;
    }
    .navAfter_myEventButton{
        border: 0;
        font-size: small;
    }
    .navAfter_logoutButton{
        font-size: small;
        background-color: white!important;
    }
    .logoutColor{
        color: #43D8C9;
    }
    .customIcon{
        margin-right: 20vw;
    }
}
@media only screen and (min-width: 450px) and (max-width: 550px){
    .bg{  
        background-image: url(./thepc-one-03-01.png);
        width: 100vw;
        height:100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .home-text{
        margin: 4rem 0 12rem;
        text-align: center;
    }
    
    /* Welcome Text */
    .welcomeText{
        font-size:2.2rem !important;
        line-height:70px;
        color:#2C2C2C;
    }
    
    /* Thepc Text */
    .thepcText{
        font-weight:bold;   
        font-size:4.5rem;
        line-height:60px;
        margin-bottom:10px ;
        color:#2C2C2C;
    }
    
    /* one text */
    .oneText{
        font-weight:bold;   
        font-size:4.5rem;
        line-height:65px;
        margin-bottom:10px ;
        color:var(--main);
        
    }
    
    
    .colorBox{
        width: 200px;
        height: 30px;
        display: inline-block;
        background-color:var(--main);
        margin-top: 8px;
    }
    
    /* Description Text */
    .descriptionText{
        font-size:1.8rem;
        line-height:64px;
        margin-top: 10px;
    }

    .sidebar_loginNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }

    .sidebar_signupNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }
    .sidebar_loginActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:#32dfb0;
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .sidebar_signupActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right: 0;
        transition: 350ms;
        z-index: 2;
    }
    .navAfter_leftText{
        font-size: larger;
    }
    .navAfter_myEventButton{
        border: 0;
        font-size: small;
    }
    .navAfter_logoutButton{
        font-size: small;
        background-color: white!important;
    }
    .logoutColor{
        color: #43D8C9;
    }
    .customIcon{
        margin-right: 20vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px){
    .bg{  
        background-image: url(./thepc-one-03-01.png);
        width: 100vw;
        height:100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .home-text{
        margin: 5rem 0 16rem;
        text-align: center;
    }
    
    /* Welcome Text */
    .welcomeText{
        font-size:3rem !important;
        line-height:90px;
        color:#2C2C2C;
    }
    
    /* Thepc Text */
    .thepcText{
        font-weight:bold;   
        font-size:6rem;
        line-height:80px;
        margin-bottom:10px ;
        color:#2C2C2C;
    }
    
    /* one text */
    .oneText{
        font-weight:bold;   
        font-size:6rem;
        line-height:90px;
        margin-bottom:10px ;
        color:var(--main);
        
    }
    
    
    .colorBox{
        width: 300px;
        height: 30px;
        display: inline-block;
        background-color:var(--main);
        margin-top: 8px;
    }
    
    /* Description Text */
    .descriptionText{
        font-size:3rem;
        line-height:90px;
        margin-top: 10px;
    }

    .sidebar_loginNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }

    .sidebar_signupNotActive{
        position:fixed;
        left:1200;
        width:100%;
        top:0px;
        background-color:var(--main);
        height:100vh;
        right:-100% !important;
        transition: 850ms;
    }

    .navAfter_leftText{
        font-size: small;
        margin-left: 0.5vw;
        margin-top: 0.35vh;
    }
    .navAfter_myEventButton{
        border: 0;
        font-size: 0.5rem;
        padding-right: 10vw;
    }
    .navAfter_logoutButton{
        padding-right: 10vw;
        font-size: 0.5rem;
        background-color: white!important;
    }
    .logoutColor{
        color: var(--main);
    }
}

