.navAfter{
    font-family: 'Red Hat Display', sans-serif !important;
}

.registerButtonColor{
    color:var(--main) !important;
    border-color:var(--main) !important;
}

.registerText{
    color: white;
}

.registerButton{
    font-weight:800 !important;
    border-radius:0 !important;
    width: 10rem;
    height: 3rem;
    margin-right: 1.5vw !important;
    background-color: var(--main);
}


.float-layout {
    /* padding: 1vw 1vw; */
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
  }
  
  .card-container {
    overflow: hidden;
    height: min-content;
    box-shadow: 0px 4px 12px 2px rgba(1,1,1,0.20);
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    background-color: white;
    border-radius: 8px;
  }
  
  .card {
    background-color: white;
    color: black;
    min-height: 100%; /*replace this it in width: 100%*/
    width: 100%;
    float: right;
    margin: 2vw;
    margin-left: 0;
    border: 0;
    margin-top: 0;
  }
  
  .card-title {
    font-size: 1.9rem;
    text-align: left;
    font-weight: bold;
    padding-top: 1.3vw;
  }
  
  .card-desc {
    padding: 0.5vw;
    padding-left: 0;
    text-align: left;
    font-size: 1.3rem;
  }
  
  .customImage{
      margin: 2vw;
      margin-right: 4vw;
      margin-top: 0;
      margin-bottom: 0;
      padding: 2vw;
      padding-right: 0;
      padding-left: 0;
      object-fit: contain;
      height: 19.7rem!important;
  }

  /*add this it*/
  .card-image {
    display: flex;
    
    
  }
  /*-------------*/
  
  div.card-image img {
    width: 30%;
    height: auto;
  }

  .custom_footer{
      display: flex;
      align-items: flex-end;
      justify-content: space-between!important;
  }
  
  /* Phone Devices Query */
  @media only screen and (max-width: 600px) {

    .card-container{
        width: 90%;
        margin:1rem auto ;
    }
    div.card-image img {
      width: 100%;
      height: auto;
    }

    .customImage{
        margin: 0 auto;
    }
    
    /*add this it*/
    .card-image {
       flex-direction: column;
    }
    /*----------------------*/
  
    .card {
      width: 100%;
      margin-top: -64px;
    }

    .card-title{
        text-align: center;
        font-size: large;
    }
    .card-desc{
        text-align: center;
        font-size: 1rem;
    }

    .custom_footer{
        flex-direction: column !important;
        align-items: flex-center !important;
    }
    .card_footerColor{
        margin-top: 10px;
        font-size: 1rem;
    }
    .registerButton{
        font-size: medium;
    }
  }

  @media  screen and (min-width: 600px) and (max-width: 900px){
    .card-container{
        width: 90%;
        margin:1rem auto ;
    }
    div.card-image img {
        width: 100%;
        height: auto;
      }
      
      /*add this it*/
      .card-image {
         flex-direction: column;
      }
      /*----------------------*/
    
      .card {
        width: 100%;
        margin-top: -64px;
      }
  
      .card-title{
          text-align: center;
          font-size: large;
      }
      .card-desc{
          text-align: center;
          font-size: large;
      }
  
      .custom_footer{
          flex-direction: column!important;
          align-items: flex-center!important;
      }
      .card_footerColor{
          font-size: large;
      }
      .registerButton{
          font-size: medium;
      } 
  }






.card_contentBox{
    position: relative;
    width:90vw;
    height:45vh;
    top:20px;
    left:50px;
    right:80px;
    top:18px;
    box-shadow: 0px 4px 12px 2px rgba(1,1,1,0.15);
    max-width:92vw;
}


.card_box{
    font-family: 'Red Hat Display', sans-serif !important;
    width:100%;
    display: flex !important;
    position: relative;
}

/* card -image */
.card_img{
    position: relative;
    width: 18vw;
    height:39vh;
    top: 7%;
    left: 2%;
    display: flex;
}

/* Card Title */
.card_title{
    font-weight:900;
    position:relative;
    left:26%;
    display:flex;
    top:2%;
}

/* Card body */
.card_body{
    width:85vw;
    position: absolute;
    height:14vh;
}

/* Card Body Text */
.card_bodyText{
    max-width:66vw;
    height: 23vh;
    position: relative;
    left:25.9%;
    top:12%;
}

/* Card body footer */
.card_bodyFooter{
    position: relative;
    left:25.9%;
    font-size:20px;
    width: 90vw;
}

/* Card button */

.card_button{

    background-color:#43D8C9;
    border:none;
    border-radius:0;
    left:18%;
    width:180px;
    top: -4%;
    cursor:pointer !important;
}
.card_button_disabled{

    background-color: white;
    color: #43D8C9;
    border:#43D8C9 2px solid;
    border-radius:0;
    left:18%;
    width:180px;
    top: -4%;
    cursor:pointer !important;
}


/* card  */
.card_footerColor{
    color:#43D8C9;
}