.container {
    position: relative;
  }
 
  .customImage_text{
    border: none;
  }

  .button {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 106%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .create-form-btn{
    display: flex;
    margin-bottom: 2rem;
}

  .submitButton{
    background-color:var(--main);
    /* color: white; */
    font-weight: lighter;
    font-size: large;
    width: 8rem;
  }

  .submitButton:hover{
    background-color: #2F5A52;
    color: white;
  }

  .custom{
    left: 50%; 
    top: 110%;
  }

  .create-event-options{
    margin: auto !important;
    text-align: center;
  }

  .event-form-one{
    background-color:#28d1a4;
    width: 100%;
    padding: 4rem;
    border-radius: 1rem;
  }

  /* .form-colour{
    background-color: #444343;
    border: hidden;
  } */

  .radioCustom{
    margin-top: 4vh;
    margin-right: 4vw;
  }

  @media only screen and (max-width:320px){
    .radioCustom{
        margin-top: 3vh;
        margin-right: 3vw;
    }
    .radioText{
        font-size: small;
    }
  }