.events-text{
    color: blueviolet;
    font-family: 'Red Hat Display';
    font-weight:200 ;
}

.success-message{
    color: var(--main);
    font-size: 2rem;
}

.event-headers{
    font-size: 2.6rem;
    font-weight: 700;
    margin: 3rem auto;
    text-align: center;
}

.create-event{
    width: 10rem;
    margin-left: 85%;
    margin-bottom: -6rem;
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 0;
    font-family: 'Red Hat Display';
    font-size: 1.1rem;
    font-weight: 300;
}


.create-event:active{
    background-color: #2F5A52;
}
.create-event:hover{
    background-color: #07221B;
    color: white;
}

@media only screen and (max-width: 800px) {
    .event-headers{
        text-align: center;
        margin: 2rem 0rem;
        font-size: 2rem;
    }
}