.eventsHomeCard{
    position:relative;
    font-family: 'Red Hat Display', sans-serif !important;
    top:90px;
    margin-right:1vw;
}

.events_title{
   text-align: center;
   font-family: 'Poppins';
}
.events_title_dark{
    color: white;
   text-align: center;
   font-family: 'Poppins';
}
.events_title svg{
    margin-left: 1rem;
}
.events_title_dark svg{
    margin-left: 1rem;
}

.swal-icon.swal-success {
    border-color: #f27474 !important;
  }

  @media only screen and (max-width: 600px){
    .instructions{
        font-size: 1.5rem!important;
    }
    .inst-cont{
        width: 80%;
    }
  }