.eventsHomeCard{
    position:relative;
    font-family: 'Red Hat Display', sans-serif !important;
    top:90px;
}

.events_title{
   text-align: center;
    
}

.swal-icon.swal-success {
    border-color: #f27474 !important;
  }