.navAfter{
    font-family: 'Red Hat Display', sans-serif !important;
}

.container-fluid{
    position: relative;
}

.homeNavbar_leftText{
    color:#43D8C9 !important;
    font-weight:500;
    font-size:36px;
    /* position: absolute; */
    width:15vw!important;
    height:8vh!important;
    /* left:5%; */
    /* bottom:-5%; */
}

.homeNavbar_myEventButton{
    /* position:absolute; */
    width:11%;
    height:8vh;
    margin-left:73vw;
    margin-top: -8vh !important;
    font-weight:800 !important;
    border-radius:0 !important;
    border:0;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.homeNavbar_myEventButtonColor{
    color:#43D8C9 !important;
    border-color:#43D8C9 !important;
}

.homeNavbar_logoutButton{
    /* position:absolute; */
    width:11%;
    height:8vh;
    margin-left:85vw;
    margin-top:-15vh !important;
    background-color:#43D8C9 !important;
    font-weight:800 !important;
    border-radius:0 !important;
}

.homeNavbar_logoutButtonColor{
    color:#43D8C9 !important;
    border-color:#43D8C9 !important;
    color:white!important;
}